.task-info-section {
  display: flex;
  justify-content: space-between;
  padding: 3rem 12rem;
}

.task-info {
  width: 71.5rem;

  &__title-info {
    display: flex;
    gap: 1rem;
    width: auto;
    padding-top: 1rem;
    margin-bottom: 1.2rem;
  }

  &__priority {
    display: flex;
    gap: 4px;
    padding: 0.5rem 0.4rem;
    border: 1px solid;
    border-radius: 3px;
    font-weight: $medium;

    &--1 {
      color: $color-priority-1;
    }
    &--2 {
      color: $color-priority-2;
    }
    &--3 {
      color: $color-priority-3;
    }

    &--icon {
      width: 1.4rem;
    }
  }

  &__department {
    font-size: 1.2rem;
    padding: 0.5rem 0.9rem;
    border-radius: 1.5rem;
    color: white;
    width: fit-content;
    text-align: center;

    &--1 {
      background-color: $color-department-1;
    }
    &--2 {
      background-color: $color-department-2;
    }
    &--3 {
      background-color: $color-department-3;
    }
    &--4 {
      background-color: $color-department-4;
    }
    &--5 {
      background-color: $color-department-5;
    }
    &--6 {
      background-color: $color-department-6;
    }
    &--7 {
      background-color: $color-department-7;
    }
  }

  &__title {
    font-size: 3.4rem;
    font-weight: $semi-bold;
    color: $color-headline;
    padding-bottom: 1rem;
  }

  &__description {
    font-size: 1.8rem;
    color: black;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  &__details {
    &--title {
      font-size: 2.4rem;
      color: #2a2a2a;
      font-weight: $medium;
      margin-bottom: 1.8rem;
    }

    &--icon {
      width: 1.8rem;
    }

    &__container {
      display: flex;
      gap: 7rem;
    }

    .list-txt {
      display: flex;
      gap: 0.6rem;
      align-items: center;
      padding: 1.2rem 0;
      font-size: 1.6rem;
      list-style: none;
      color: $color-tas-details;

      & select {
        padding: 1rem;
        width: 25.9rem;
        border-radius: 5px;
        border: solid 1px #ced4da;
        font-family: inherit;
        font-weight: $light;
        font-size: 1.4rem;
      }
    }

    &__employee {
      position: relative;
      &--department {
        font-size: 1.1rem;
        font-weight: $light;
        position: absolute;
        width: 13.5rem;
        top: -1rem;
      }

      &--name {
        font-size: 1.4rem;
        color: grey-shades-blackish;
      }
    }

    &--img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    &--date {
      color: $color-blackish;
    }
  }
}
