.task-tracker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 12rem 12rem 12rem;
  margin-top: 6rem;
  &__container {
    width: 38.1rem;
  }

  &__title {
    font-size: 2rem;
    color: white;
    font-weight: $medium;
    padding: 1.5rem 0;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.cards-container {
  display: flex;
  gap: 3rem;
}

.to-do {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__title {
    background-color: $color-status-1;
    border-radius: 1rem;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__title {
    background-color: $color-status-2;
    border-radius: 1rem;
  }
}

.ready {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__title {
    background-color: $color-status-3;
    border-radius: 1rem;
  }
}

.completed {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__title {
    background-color: $color-status-4;
    border-radius: 1rem;
  }
}

.card {
  background-color: aliceblue;
  width: 38.1rem;
  height: 21.7rem;
  border: 1px solid;
  border-radius: 1.5rem;
  padding: 2rem;
  cursor: pointer;

  &__status--1 {
    border-color: $color-status-1;
  }
  &__status--2 {
    border-color: $color-status-2;
  }
  &__status--3 {
    border-color: $color-status-3;
  }
  &__status--4 {
    border-color: $color-status-4;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2.8rem;

    &__priority {
      display: flex;
      gap: 0.4rem;
      padding: 0.4rem;
      border: 1px solid;
      border-radius: 4px;
      font-weight: $medium;
      font-size: 1.2rem;

      &--1 {
        color: $color-priority-1;
      }

      &--2 {
        color: $color-priority-2;
      }

      &--3 {
        color: $color-priority-3;
      }
    }

    &__department {
      font-size: 1.2rem;
      padding: 0.5rem 0.9rem;
      border-radius: 1.5rem;
      color: white;
      width: auto;
      text-align: center;

      &--1 {
        background-color: $color-department-1;
      }
      &--2 {
        background-color: $color-department-2;
      }
      &--3 {
        background-color: $color-department-3;
      }
      &--4 {
        background-color: $color-department-4;
      }
      &--5 {
        background-color: $color-department-5;
      }
      &--6 {
        background-color: $color-department-6;
      }
      &--7 {
        background-color: $color-department-7;
      }
    }

    &__date {
      margin-left: auto;
      font-size: 1.2rem;
    }
  }

  &__description {
    margin-bottom: 1rem;

    &__title {
      font-size: 1.5rem;
      font-weight: $medium;
      color: $color-headline;
      margin-bottom: 1.2rem;
    }

    &__content {
      font-size: 1.4rem;
      color: $color-subHeadline;
    }
  }

  &__employee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__img {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
    }
  }

  &__comments {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
}
