.task-info-section {
  padding: 3rem 12rem;
  display: flex;
  justify-content: space-between;
}

.task-info {
  width: 71.5rem;

  &__title-info {
    display: flex;
    gap: 1rem;
    width: auto;
    padding-top: 1rem;
    margin-bottom: 1.2rem;
  }

  &__priority {
    display: flex;
    gap: 4px;
    padding: 0.5rem 0.4rem;
    border: 1px solid;
    border-radius: 3px;
    font-weight: 500;

    &--1 {
      color: $color-priority-1;
    }
    &--2 {
      color: $color-priority-2;
    }
    &--3 {
      color: $color-priority-3;
    }

    &--icon {
      width: 1.4rem;
    }
  }

  &__department {
    font-size: 1.2rem;
    // background-color: $color-design;
    padding: 5px 9px;
    border-radius: 1.5rem;
    color: white;
    // width: auto;
    width: fit-content;
    text-align: center;
    background-color: $color-department-1;

    &--1 {
      background-color: $color-department-1;
    }
    &--2 {
      background-color: $color-department-2;
    }
    &--3 {
      background-color: $color-department-3;
    }
    &--4 {
      background-color: $color-department-4;
    }
    &--5 {
      background-color: $color-department-5;
    }
    &--6 {
      background-color: $color-department-6;
    }
    &--7 {
      background-color: $color-department-7;
    }
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 600;
    color: $color-headline;
    padding-bottom: 1rem;
  }

  &__description {
    font-size: 1.8rem;
    color: black;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  &__details {
    // background-color: aqua;

    &--title {
      font-size: 2.4rem;
      color: #2a2a2a;
      font-weight: 500;
      margin-bottom: 1.8rem;
    }

    &--icon {
      width: 1.8rem;
    }

    &__container {
      display: flex;
      gap: 7rem;
      // background-color: red;
    }

    // &--question {
    //   // width: 49.3rem;
    //   // width: max-content;
    // }
    // &--answer {
    //   // width: 49.3rem;
    //   // width: max-content;
    // }

    .list-txt {
      display: flex;
      list-style: none;
      gap: 0.6rem;
      padding: 1.2rem 0;
      align-items: center;
      font-size: 1.6rem;
      color: #474747;

      & select {
        padding: 1rem;
      }

      // height: 2.4rem;
      // font-family: inherit;
    }

    &__employee {
      position: relative;
      // background-color: red;
      &--department {
        font-size: 1.1rem;
        font-weight: 200;
        position: absolute;
        width: 13.5rem;
        // width: 100%;
        top: -10px; /* Distance from the top of the container */
        // left: 50px; /* Distance from the left of the container */
      }

      &--name {
        font-size: 1.4rem;
        color: grey-shades-blackish;
      }
    }

    &--img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    // &--txt {
    //   display: flex;
    //   list-style: none;
    //   gap: 7rem;

    //   // font-size: 1.6rem;
    //   color: #474747;
    //   padding: 1.2rem 0;
    // }
    // &--left {
    //   display: flex;
    //   gap: 0.6rem;
    //   list-style: none;
    //   gap: 0.6rem;

    //   // font-size: 1.6rem;
    //   color: #474747;
    // }

    // &--right {
    //   display: flex;
    //   gap: 1.2rem;

    //   img {
    //     border-radius: 50%;
    //   }
    // }

    // &--emp {
    //   position: relative;
    // }
  }
}
