* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: 192rem;
  height: 108rem;
  margin: 0 auto;
}

.header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 3rem 12rem;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.nav__btn {
  height: 40px;
  gap: 0.4rem;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
  background-color: #8338ec;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.nav__btn--add-emp {
  background-color: transparent;
  border: solid 1px #8338ec;
  color: #212529;
}
.nav__btn--add-task {
  display: flex;
  align-items: center;
  width: 26.8rem;
}
.nav__icon {
  height: 2rem;
  width: 2rem;
}

.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Window */
.modal {
  background-color: #fff;
  padding: 4rem 5rem 6rem 5rem;
  border-radius: 1rem;
  width: 913px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.modal__title {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 4.5rem;
  color: #212529;
}

/* Close Button */
.close-modal-btn {
  padding: 8px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.close-modal-btn:hover {
  background-color: #999;
}

.flex-container {
  display: flex;
  gap: 4rem;
  margin-bottom: 4.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
}
.form-control label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #343a40;
}
.form-control input,
.form-control select {
  border-radius: 6px;
  border: solid 1px #ced4da;
  height: 42px;
  width: 384px;
  padding: 1rem;
}
.form-control__icon {
  width: 1.6rem;
}
.form-control__subtext {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 0.2rem;
  color: #6c757d;
}
.form-control__avatar {
  height: 120px !important;
  width: 100% !important;
  margin-bottom: 4.5rem;
  border-style: dotted !important;
}

.modal-btn-container {
  display: flex;
  gap: 2.2rem;
  justify-content: end;
  margin-top: 4.5rem;
}

.modal-btn {
  background-color: #8338ec;
  border: 1px solid #8338ec;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
}
.modal-btn--cancel {
  background-color: transparent;
  color: #343a40;
}

.modal-top-btn-container {
  display: flex;
  justify-content: end;
  width: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  margin-bottom: 3.7rem;
}

.modal-btn--top-icon {
  width: 4rem;
}

.task-control {
  padding: 0 12rem;
  margin-top: 6rem;
  width: 100%;
}
.task-control__title {
  font-size: 3.4rem;
  font-weight: 600;
  color: #212529;
}

.dropdown-container {
  display: flex;
  gap: 4.5rem;
  border: 1px solid #343a40;
  border-radius: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5rem;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-btn {
  background: transparent;
  color: #343a40;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  padding: 1rem 1.8rem;
  font-family: inherit;
}
.dropdown .dropdown-btn__icon {
  padding-left: 0.8rem;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 1rem;
  width: 688px;
  padding: 4rem 3rem 2rem 3rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}
.dropdown label {
  display: block;
  margin-bottom: 5px;
}
.dropdown .container-apply {
  display: flex;
  justify-content: end;
}
.dropdown .apply-btn {
  width: 15.5rem;
  margin-top: 2.5rem;
  padding: 0.8rem 2rem;
  background: green;
  color: white;
  border: none;
  border-radius: 2rem;
  background-color: #8338ec;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: inherit;
}